* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #EEDFCC;
    width: 100%;
    line-height: 1.5rem;
    /* padding: 0px; */
}

#div-paragraph-text {
    text-align: justify;
    margin-top: 0px;
}

#student-name-1 {
    text-align: center;
}

h2, h3 {
    text-align: center;
}

h2 {
    margin-top: 30px;
    padding-top: 40px;
}

.container p {
    text-align: center;
}

.header-nav {
    width: 100%;
}

.header-nav ul li {
    width: 100%;
    display: block;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin-top: 15px;
}

header {
    background-color: white;
    width: 100%;
    height: auto;
}

header p {
    text-align: center;
}

#profile-image {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: white;
    margin-top: 30px;
    width: 100%
}

footer p {
    text-align: center;
}

.bottom-nav {
    visibility: hidden;
}

#back-to-top, #student-name {
    visibility: visible;
    display: inline;
    font-size: 0.8rem;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    /* float:right; */
}

#student-name {
    float: left;
}

#back-to-top {
    float: right;
}

address {
    text-align: justify;
}


.clearfix {
    clear: both;
}

/* Cristian, Tablet */

@media (min-width:768px) {
    * {
        margin: auto;
    }
    /* .wrapper{
        margin-left:80px;

    } */
    header {
        position: relative;
        padding: 5rem;
        margin: auto;
        width: 100%;
        height: 30%;
        top: 0;
    }
    #student-name-1 {
        width: 40%;
        text-align: center;
        margin-top: 20px;
        margin-left: 10rem;
        padding: 0;
        position: relative;
        display: block;
        font-weight: 1000;
    }
    .header-nav ul li {
        width: 100px;
        height: auto;
        display: inline-block;
        margin-bottom: 40px;
        margin-left: 30px;
        margin-top: 0px;
        padding: 0px;
        text-align: left;
        list-style: none;
        position: relative;
        top: 0px;
        font-weight: bold;
    }
    .header-nav {
        margin-left: 80px;
    }
    #profile-image {
        width: 40%;
        float: right;
        margin-left: 0.5em;
        position: relative;
    }
    #paragraph-text {
        width: 55%;
        text-align: left;
        float: left;
        font-size: 1.5rem;
        padding: 0rem;
        border-bottom: 4px solid black;
    }
    h2 {
        padding: 20px;
        margin: 40px;
        font-weight: 1000;
    }
    h3 {
        margin: 1rem;
        font-weight: 1000;
    }
    h3 p {
        padding: 1rem;
        margin: 1rem;
    }
    .container-item {
        width: 43%;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }
    .container {
        margin-left: 35px;
    }
    footer p {
        text-align: center;
        width: 70%;
        margin-right: 0;
        margin-left: 60px;
    }
    address {
        text-align: justify;
        padding: 20px;
        margin-left: 50px;
    }
    footer {
        width: 100%;
        display: inline-block;
        position: relative;
        margin: 5px;
    }
    #back-to-top {
        visibility: hidden;
    }
    .bottom-nav ul li {
        visibility: visible;
        float: right;
        display: inline-block;
        margin: 1px;
        padding: 1px;
        margin-right: 2px;
        margin-left: 20px;
        font-weight: bold;
        font-size: 0.9rem;
    }
    .bottom-nav {
        visibility: visible;
        float: right;
        display: inline-block;
        margin: 5px;
        padding: 5px;
        margin-right: 40px;
        font-weight: bold;
    }
    #student-name {
        visibility: visible;
        display: inline-block;
        position: absolute;
        bottom: 5px;
        left: 5px;
        font-weight: bold;
        font-size: 1.1rem;
        float: left;
    }
}

/* Ana Maria */

@media (min-width:1024px) {
    #student-name-1 {
        width: 50%;
        text-align: initial;
        margin-top: 10px;
        top: 20px;
        left: 1px;
        margin-left: 10px;
        padding-bottom: 0px;
        position: absolute;
        display: inline-block;
    }
    ul li {
        display: inline;
        text-align: center;
        float: right;
        font-size: 1rem;
        font-weight: bold;
    }
    #paragraph-text {
        margin-top: 20px;
        float: right;
        width: 60%;
        height: 100px;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1rem;
    }
    .container-item {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }
    #profile-image {
        width: 38%;
        float: right;
        padding-top: 10px;
    }
    .bottom-nav {
        visibility: visible;
        float: right;
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    #back-to-top {
        visibility: hidden;
    }
    .bottom-nav ul li {
        visibility: visible;
        float: right;
        display: inline-block;
        margin: 0px;
        padding: 5px;
    }
    footer {
        position: relative;
    }
    #student-name {
        visibility: visible;
        position: absolute;
        bottom: 10px;
        left: 0px;
        font-weight: bold;
        font-size: 1rem;
    }
    header {
        background-color: white;
        position: relative;
        height: 400px;
        padding: 0px;
    }
    .container {
        background-color: cornsilk;
        margin-left: 0px;
    }
    address {
        text-align: justify;
        padding: 40px;
        width: 90%;
    }
    footer p {
        text-align: center;
        ;
        margin-left: 40px;
        width: 90%;
    }
    .header-nav ul li {
        height: auto;
        /* background-color: white; */
        display: inline-block;
        margin-bottom: 40px;
        margin-top: 30px;
        padding: 0px;
        margin-left: 0px;
        margin-right: 60px;
        text-align: left;
        list-style: none;
        position: relative;
        top: 0px;
    }
    h2 {
        padding: 20px;
        margin: 40px;
    }
    .clearfix:after {
        content: "";
        clear: both;
    }
}